Repository Come-On-App/Come-On-Frontend, pull requests merged in 2023-02, with the labels that each got.

#49 🍕 [feature-tabTwoScreen] : 로그인 로직 추가, 소셜로그인 버튼 생성
  .gitignore
  App.tsx
  api.ts
  app.json
  app/hooks.ts
  app/store.ts
  assets/images/logo/AppleLogo.tsx
  assets/images/logo/GoogleLogo.tsx
  assets/images/logo/KakaoLogo.tsx
  assets/images/logo/LoginApple.svg
  assets/images/logo/LoginGoogle.svg
  assets/images/logo/kakao.png
  assets/images/logo/kakaotalk_sharing_btn_small.png
  babel.config.js
  components/Calendar/Calendar.tsx
  components/buttons/AddPlaceButton.tsx
  components/buttons/GoogleLoginBtn.tsx
  components/buttons/KakaoLoginBtn.tsx
  components/input/InputForm.tsx
  components/input/InputText.tsx
  components/member/MemberBox.tsx
  components/myPage/MyPageLogoutButton.tsx
  components/places/PlaceCardBody.tsx
  hooks/useAuth.ts
  navigation.d.ts
  navigation/index.tsx
  package-lock.json
  package.json
  screens/LoginScreen.tsx
  screens/MeetingRoom.tsx
  slices/authSlice.tsx
  store.tsx
  types.tsx
  utils/secureStore.tsx
Labels: :zap: API, :memo: 리뷰, :gear: 리팩토링, 🔨 기능구현

#40 🍕 [feature-tabOneScreen] : 장소 선택 로직
  .eslintrc.json
  .gitignore
  App.tsx
  api/googleMap.ts
  app/store.ts
  babel.config.js
  components/SearchBar.tsx
  components/buttons/Buttons.tsx
  components/member/BadgedAvatar.tsx
  components/myPage/MyPageProfile.tsx
  components/placeSelect/PlaceSelectAddress.tsx
  components/placeSelect/PlaceSelectButton.tsx
  components/placeSelect/PlaceSelectMap.tsx
  components/placeSelect/PlaceSelectModal.tsx
  components/placeSelect/PlaceSelectSearchBar.tsx
  experimental/MapContent.tsx
  features/placeSlice.ts
  hooks/useAxios.ts
  hooks/useCurrentPosition.ts
  hooks/usePlace.ts
  navigation/index.tsx
  package-lock.json
  package.json
  screens/place/PlaceSearch.tsx
  screens/place/PlaceSelect.tsx
  tsconfig.json
  types/env.d.ts
  types/index.ts
  types/navigation.ts
Labels: :zap: API, :memo: 리뷰, 🔨 기능구현

#59 🍕 [feature-tabTwoScreen] : api설정과 미팅룸 스크린 리디자인 및 타임피커 생성
  .eslintrc.json
  App.tsx
  package-lock.json
  package.json
  src/DevMode.tsx
  src/api.ts
  src/api/googleMap.ts
  src/app/store.ts
  src/components/buttons/GoogleLoginBtn.tsx
  src/components/calendar/Calendar.tsx
  src/components/calendar/CustomCalendarTheme.tsx
  src/components/input/IconInputBox.tsx
  src/components/input/InputForm.tsx
  src/components/input/InputImage.tsx
  src/components/meeting/timepicker.tsx
  src/components/placeSelect/PlaceSelectSearchBar.tsx
  src/components/places/PlaceNumber.tsx
  src/features/meetingSlice.tsx
  src/features/placeSlice.ts
  src/hooks/useAuth.ts
  src/hooks/useCurrentPosition.ts
  src/hooks/useImagePicker.ts
  src/hooks/useMeeting.ts
  src/hooks/usePlace.ts
  src/navigation/index.tsx
  src/screens/CreateMeeting.tsx
  src/screens/CreateMeetingCalender.tsx
  src/screens/LoginScreen.tsx
  src/screens/MeetingRoom.tsx
  src/screens/TabThreeScreen.tsx
  src/screens/place/PlaceSearch.tsx
  src/types/meeting.timepicker.ts
  src/types/navigation.ts
  src/utils/GenerateLog.ts
  src/utils/fn.ts
  src/utils/image.ts
  src/utils/imageUpload.ts
  src/utils/promise.ts
Labels: :zap: API, :gear: 리팩토링, 🎨 스타일링, 🔨 기능구현

#58 🍕 [Feature] : 리스트, 마이페이지, API 연동 작업
  .gitignore
  App.tsx
  babel.config.js
  package-lock.json
  package.json
  src/api.ts
  src/api/axiosInstance.ts
  src/api/googleMap.ts
  src/api/image/upload.ts
  src/api/map/googleMap.ts
  src/api/meeting/confirm.ts
  src/api/meeting/meetings.ts
  src/api/meeting/members.ts
  src/api/meeting/places.ts
  src/api/meeting/voting.ts
  src/api/queryClient.ts
  src/api/user/user.ts
  src/components/InviteCode.tsx
  src/components/card/Card.tsx
  src/components/card/CardList.tsx
  src/components/card/CardText.tsx
  src/components/input/InputText.tsx
  src/components/member/Avatar.tsx
  src/components/member/BadgedAvatar.tsx
  src/components/myPage/MyPageNickName.tsx
  src/components/myPage/MyPageProfile.tsx
  src/components/placeSelect/PlaceSelectMap.tsx
  src/hooks/useCurrentPosition copy.ts
  src/hooks/useImagePicker.ts
  src/hooks/useMeetings.ts
  src/hooks/useUser.ts
  src/navigation/index.tsx
  src/screens/TabOneScreen.tsx
  src/screens/TabThreeScreen.tsx
  src/types/api.image.ts
  src/types/api.map.ts
  src/types/api.meeting.ts
  src/types/api.ts
  src/types/api.user.ts
  src/types/env.d.ts
  src/types/hook.imagePicker.ts
  src/types/index.ts
  src/types/mypage.nickname.ts
  src/types/mypage.profile.ts
  src/types/util.alert.ts
  src/types/util.log.ts
  src/types/util.promise.ts
  src/utils/__tests__/promise.spec.ts
  src/utils/alert.ts
  src/utils/fn.ts
  src/utils/image.ts
  src/utils/log.ts
  src/utils/promise.ts
  tsconfig.json
Labels: :zap: API, :memo: 리뷰, 🔨 기능구현
